html, body, div, span, canvas {
    margin:0; padding:0;
}
#container {
    position:relative;
}
#pixie {
    background:-o-linear-gradient(top, #040429, #257eb7);
    background:-ms-linear-gradient(top, #040429, #257eb7);
    background:-moz-linear-gradient(top, #040429, #257eb7);
    background:-webkit-linear-gradient(top, #040429, #257eb7);
    background:linear-gradient(top, #040429, #257eb7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
}

#insider {
    background-color:rgba(222,222,222,.5);
    z-index:0;
    display: none;
    width: 300px;
    height: 200px;
    overflow: auto;
    margin: auto;
    border:5px solid black;
    padding:10px;
    border-radius: 10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#validate-status {
    font-size: 14px;
    width:150px;
    height:10px;
    position: relative;
    margin:0 auto;
}

.wish_title {
    z-index:1;
    font-size: 20px;
    font-weight: 900;
    position:relative;
    opacity: 1;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: white;
    color:black;
}



input[type="file"] {
    display:none;
}

.insides {
    display: none;
    z-index:1;
    overflow: visible;
    width: 300px;
    height:400px;
    margin: auto;
    padding:10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Registering input {
    text-align:center;
}
.Registering {
    background-color:rgba(222,222,222,.5);
    margin:0 auto;
    position:relative;
    overflow: visible;
    width:300px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 22px 22px 22px rgba(0, 0, 0, 0.7);

}
.reg_head{
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:4px double;
    margin-bottom: 15px;
    padding: 10px;
    background: rgba(51,77,1,.6);
}

.reg_inpts {
    background-color: seashell;
    position: relative;
    padding:10px;
    margin-bottom: 10px;
    text-align: center;
    border:2px solid #929292;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
::-webkit-input-placeholder {
    color:#525252;
}

:-moz-placeholder { /* Firefox 18- */
    color:#525252;
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#525252;
}

:-ms-input-placeholder {
    color:#525252;
}
.reg_inpts:focus {
    border-color: #0088d0;
    outline: 0;
}
button {
    outline: 0;
}

.reg_inpts textarea:focus, input:focus{
     outline: 0;
 }

#reg_back , #log_back , #wish_back{
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
    background-color:#fc8d83;
    border:1px solid #d83526;
    text-shadow:0px 1px 0px #b23e35;
}

.buttons {
    width: 100px;
    position: relative;
    -moz-border-radius:13px;
    -webkit-border-radius:13px;
    border-radius:13px;
    display:inline-block;
    margin: 10px;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    padding:5px;
    text-decoration:none;
}
#reg_submits , #log_submits , #wish_submits {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
    background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
    background-color:#b8e356;
    border:1px solid #83c41a;
    text-shadow:0px 1px 0px #86ae47;
}

#reg_submits:hover , #log_submits:hover , #wish_submits:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
    background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
    background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
    background-color:#a5cc52;
}
#reg_submits:active , #log_submits:active , #wish_submits:active{
    position:relative;
    top:1px;
}

#reg_back:hover , #log_back:hover , #wish_back:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
}
#reg_back:active , #log_back:active , #wish_back:active{
    position:relative;
    top:1px;
}

.centerer {
    position: relative;
    width:100%;
}

.reg_foot{
    height:50px;
    line-height: 50px;
    color: white;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top:4px double;
    margin-bottom: 15px;
    padding: 5px;
    background: rgba(11,33,77,.8);
}

.reg_foot a {
    text-decoration: none;
    color: #bbe133;
}

.insides2 {
    z-index:1;
    display: none;
    overflow: visible;
    width: 300px;
    height:400px;
    margin: auto;
    padding:10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: all 2s;
}

.insides3 {
    display: none;
    overflow: visible;
    z-index:0;
    width: 300px;
    padding:10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.wish_title {
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom:4px double;
    margin-bottom: 15px;
    padding: 10px;
    background: rgba(51,77,1,.6);
}

.wish_text {
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    margin: 15px 5px 15px 5px;
    padding: 10px;
    background: rgba(11,33,77,.7);
}

.user_id {
    color: white;
    z-index:1;
    position: absolute;
    overflow: visible;
    top:-30px;
    left:5px;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    padding: 4px;
    background: rgba(222,123,111,.6);
    text-align: left;
}

.exit_1 , .exit_2 {
    color: white;
    font-size: 18px;
    line-height: 25px;
    background: black;
    z-index: 2;
    position:absolute;
    top:0px;
    right:10px;
    border:none;
    border-radius: 230px;
}

.exit_1:hover , .exit_2:hover {
    color: rgba(222,222,222,1);
    background: rgba(33,33,33,.8);
}

.exit_1:active , .exit_2:active {
    top:1px;
}

.insides4 {
    display: none;
    overflow: visible;
    z-index:0;
    width: 300px;
    height:300px;
    margin:auto;
    padding:10px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.insides5 {
    text-align: center;
    color: white;
    line-height: 25px;
    background: rgba(33,33,33,.8);
    display: none;
    overflow: visible;
    border:2px black solid;
    z-index:1;
    width: 200px;
    height:50px;
    margin:auto;
    padding:10px;
    border-radius: 20px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.wish_title textarea {
    resize: none;
}

.wish_text textarea {
    resize: none;
    width:90%;

}

textarea::-webkit-input-placeholder {
    color:#525252;
    line-height: 45px;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color:#525252;
    line-height: 45px;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color:#525252;
    line-height: 45px;
}

textarea:-ms-input-placeholder {
    color:#525252;
    line-height: 45px;
}
